/* Rain container */
.rain {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* allow clicking through */
  overflow: hidden;
  /* z-index: -1; */
}

/* Individual drop */
.drop {
  position: absolute;
  bottom: 100%;
  width: 2px;
  height: 20px;
  background: rgba(255, 255, 255, 0.3);
  animation: fall linear infinite;
}

@keyframes fall {
  to {
    transform: translateY(120vh);
  }
}

/* Flip card styles */
.flip-card {
  width: 400px;
  height: 300px;
  perspective: 1000px; /* enables 3D flip */
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 16px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Front side style */
.flip-card-front {
  background: #1e1e1e;
  color: #fff;
  border: 1px solid #333;
}

/* Back side style */
.flip-card-back {
  background: #0d1117;
  color: #fff;
  transform: rotateY(180deg);
  border: 1px solid #333;
}

.flip-card-back ul {
  padding-left: 18px;
  margin: 0;
}

.flip-card-back li {
  margin-bottom: 6px;
}

/* 3D */
.slider-container {
  position: relative;
  width: 500px;
  height: 350px;
  margin: 0 auto;
  perspective: 1200px;
}

.carousel {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s ease;
}

.carousel-item {
  position: absolute;
  width: 300px;
  height: 260px;
  left: 100px;
  top: 40px;
  background: #111;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
  text-align: center;
  padding: 10px;
  color: white;
  transform-style: preserve-3d;
}

.carousel-item img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  /* border-radius: 12px; */
  margin-bottom: 10px;
}

/* Navigation buttons */
.nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(20, 20, 20, 0.7);
  color: white;
  border: none;
  font-size: 38px;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 10px;
}

.left {
  left: -50px;
}
.right {
  right: -50px;
}

.nav-button:hover {
  background: rgba(255, 255, 255, 0.2);
}
